{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{browser_title}}</title>
	<link type="text/css" href="{% static '' %}bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="{% static '' %}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link type="text/css" href="{% static '' %}css/theme.css" rel="stylesheet">
	<link type="text/css" href="{% static '' %}images/icons/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<i class="icon-reorder shaded"></i>
				</a>

			  	<a class="brand" href="index.html">
			  		Admin Login Page
			  	</a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
				
					<ul class="nav pull-right">

						<li><a href="#">
							Sign Up
						</a></li>

						

						<li><a href="#">
							Forgot your password?
						</a></li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->



	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="module module-login span4 offset4">
					<form class="form-vertical" action="{%url 'Users:login'%}" method="post">
						{%csrf_token%}
						<div class="module-head">
							<h3>Sign In</h3>
						</div>

						<div class="module-body">
								{% for fields in form %}
									<div class="control-group">
										<div class="controls row-fluid">
										{{fields}}
										</div>
									</div>
								{% endfor %}
						</div>


						<div class="module-foot">
							<div class="control-group">
								<div class="controls clearfix">
									<input type="submit" value="Login" class="btn btn-primary pull-right">
									<label class="checkbox">
										<input type="checkbox"> Remember me
									</label>
								</div>
							</div>
						</div>
						{% if messages %}
        					{% for message in messages %}
            					<div class="alert-dismissable fade in alert alert-{% if message.level_tag == 'error' %}danger{% endif %}" role="alert">
                				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                				{{message.message}}
            					</div>
        					{% endfor %}
    					{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			 

			<b class="copyright">&copy; 2018 DataSoft Bangladesh Ltd  </b> All rights reserved.
		</div>
	</div>
	<script src="{% static '' %}scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="{% static '' %}scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="{% static '' %}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>